@keyframes headerIntroAnimation{
    100%{
        opacity: 1;
        margin-top: 20px;
    }
}
@keyframes consoleIntroAnimation{
    100%{
        margin-left: 5%;
    }
}

body{
    overflow-x: hidden;
}

.portfolio-content{
    width: calc(100% - 10px);
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.portfolio-header{
    width: calc(100% - 20px);
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -100px;
    opacity: 1;
    font-size: 1.9em;
    font-family: "Oswald",sans-serif;
    margin-bottom: 20px;

    animation-name: headerIntroAnimation;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.console-content{
    width: calc(90% - 20px);
    padding: 15px;
    display: block;
    margin-left: calc(100% + 20px);
    margin-right: auto;
    border: 1px solid rgba(255,255,255,.4);
    border-radius: 5px;
    height: calc(70vh - 60px);
    transition: all 0.4s;

    animation-name: consoleIntroAnimation;
    animation-duration: 1s;
    animation-delay: 1.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.console-output-container{
    height: calc(60vh - 40px);
    padding: 5px;
    color: green;
    font-family: "Lato",sans-serif;
    width: 100%;
    overflow-y: scroll;
    .project-name{
        margin-bottom: 2px;
    }
    .project-container,.skill-container{
        font-size: 1.05em;
    }
    .project-duration,.project-role,.project-website,.skill-container{
        text-indent: 2em;
        margin-bottom: 3px;
    }
    .section-introducing-container{
        text-indent: 1em;
    }
    a{
        color: green;
    }
}
.console-output-container::-webkit-scrollbar{
    width: 9px;
    background: none;
}
.console-output-container::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background: green;
}

.bigger-font-size{
    font-size: 1.2em;
}
.lower-font-size{
    font-size: 0.8em;
}

.console-input-container{
    height: calc(10vh - 30px);
    width: 100%;
    .enter-sign,.console-input{
        display: inline-block;
        font-family: "Lato",sans-serif;
    }
    .enter-sign{
        color: green;
        font-size: 1.9em;
        text-align: right;
    }
    .console-input{
        width: calc(100% - 40px);
        height: inherit;
        text-indent: 10px;
        float: right;
        border: none;
        border-radius: 5px;
        background: rgba(255,255,255,.1);
        color: green;
        font-size: 1.3em;
    }
}